.about {
  background-color: $purple;

  .about-title-wrapper {
    max-width: 750px;

    .about-title {
      font-size: 2rem;
      margin-bottom: 2rem;
      padding: 30px;
    }

    .about-desc {
      font-size: 20px;
      margin-bottom: 6rem;
      padding: 30px;
    }
  }
}
