.qualifications {
  background-color: #f3f3f3;

  .qualifications-wrapper {
    width: 90%;
    padding: 0 25px;
    margin: -120px auto auto auto;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.05);
    .col-12:first-child {
      position: relative;
    }

    .col-12:first-child::after {
      position: absolute;
      content: "";
      background-color: rgba($color: #000000, $alpha: 0.09);
      @media screen and (min-width: 600px) {
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
      }

      @media screen and (max-width: 600px) {
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.09);
        height: 1px;
      }
    }

    .col-12 {
      padding: 30px;

      img {
        margin-bottom: 20px;
      }
      h4 {
        margin: 30px 0;
        font-weight: bold;
      }
      h5 {
        color: $purple;
      }
      p {
        max-width: 300px;
        margin: 25px auto;
        font-weight: lighter;
      }
      .tools {
        margin: 25px 0;
        > div {
          margin-bottom: 10px;
          font-weight: 200;
        }
      }
    }
  }
  .recent-work {
    margin: 4rem 0;

    h2 {
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 20px;
    }

    .recent-w-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-template-rows: repeat(2, auto);
      justify-content: center;
      gap: 30px;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, auto);
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, auto);
      }
      .recent-w {
        height: 250px;
        background-color: $purple;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);

        &:hover .recent-overlay {
          opacity: 1;
        }

        img {
          width: 100%;
          display: block;
          height: 100%;
          border-radius: inherit;
        }

        .recent-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: #141c3a;
          border-radius: inherit;
          box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);

          p {
            color: $white;
            font-weight: 400;
            font-size: 17px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }

          .nav-link {
            color: $purple;
            font-weight: 400;
            font-size: 16px;
            background-color: $white;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            transition: all ease-in-out 300ms;
            border-radius: 30px;
            text-align: center;

            &:hover {
              color: $white;
              background-color: $purple;
              box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.4);
              border: 1px solid $white;
            }
          }
        }
      }
    }
  }
}
